
#root {display: grid; grid-template-columns: 1fr; grid-template-rows: auto; grid-row-gap: 0px}
#header1 {display: grid; grid-template-columns: 1fr; grid-template-rows: auto; background: rgb(245, 245, 245)}
#header2 {display: grid; grid-template-columns: 1fr; grid-template-rows: auto; background: white}
#header3 {display: grid; grid-template-columns: 1fr 4fr 1fr; grid-template-rows: auto; background: rgb(226, 233, 223)}
#header3 > div:nth-child(odd) {background-color: rgb(34, 119, 205)}
